/*
body {
    font-family: Arial;
    margin: 0;
}


.container{
     display: flex;
  
}

* {
    box-sizing: border-box;
}

img {
    vertical-align: middle;
    max-height:100%;

}



/* Hide the images by default */
/*
.mySlides {
    display: none;
     display: flex;
    
}
*/

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.carousel-control-prev,
.carousel-control-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -20px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.carousel-control-next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through 
.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
*/


.row:after {
    content: "";
    display: block;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 10%;

}

.column:hover {
    transform: scale(2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    display:block;
    z-index: 1;
    
}


/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}


/*nav*/
body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;

}


nav{
    background-color:#111;
    color: #818181;
    
}

@media only screen and (max-width: 440px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}

    #thumbs{
        display:none;
    }
}



.flex-container {
  display: flex;
  justify-content: center;

}

.flex-container > div {

  margin: 0px;
  text-align: center;
  padding:0px;

}




  img{
max-height:700px;
  }
